{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block body %}

{{ parent() }}

<div class="container">
    <h3 id="projects" class="h1 my-5">{% trans %}Projects{% endtrans %}</h3>
    <div class="row">

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <img class="card-img-top" src="{{ asset('img/projets/tablet-coffee.jpg') }}" alt="Projet 1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <img class="card-img-top" src="{{ asset('img/projets/startup-desktop.jpg') }}" alt="Projet 1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <img class="card-img-top" src="{{ asset('img/projets/designers-desk.jpg') }}" alt="Projet 1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <h3 id="skills" class="h1 my-5">{% trans %}Skills{% endtrans %}</h3>
    <div class="row">

        <div class="col-md-4 p-3">
            <ul class="list-group">
                <li class="list-group-item disabled">
                    <h4>{% trans %}Programming Languages / Technologies{% endtrans %}</h4>
                </li>
                {% for skill in skills1 %}
                <li class="list-group-item">{{ skill.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-4 p-3">
            <ul class="list-group">
                <li class="list-group-item disabled">
                    <h4>{% trans %}Frameworks / Libraries{% endtrans %}</h4>
                </li>
                {% for skill in skills2 %}
                <li class="list-group-item">{{ skill.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-4 p-3">
            <ul class="list-group">
                <li class="list-group-item disabled">
                    <h4>{% trans %}Databases{% endtrans %}</h4>
                </li>
                {% for skill in skills3 %}
                <li class="list-group-item">{{ skill.name }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>

{% endblock %}