<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Welcome !{% endblock %}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">

  {% block stylesheets %}{% endblock %}
</head>


<body class="container-fluid">
<div class="titre"></div>
<header>
  {% for label, messages in app.flashes(['success', 'danger']) %}
  {% for message in messages %}
  <div class="flash-{{ label }} p-3 fixed-top bg-{{ label }} text-white text-center">
    {{ message }}
  </div>
  {% endfor %}
  {% endfor %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a id="Home" class="navbar-brand" href="{{ path('home') }}">ThomasNev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#projects">Mes projets</a>
          </li> -->
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin') }}">Skills</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register') }}">Register</a>
        </li>
      </ul>
    </div>
  </nav>

</header>

  {% block body %}{% endblock %}
  <button onclick="window.history.back();" type="button" class="btn btn-outline-danger float-left">Back</button>
</body>

  {% block javascripts %}{% endblock %}
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{{ path('home') }}" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="{{ path('admin') }}" class="nav-link px-2 text-muted">Admin</a></li>
        <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link px-2 text-muted">Sign up</a></li>
        <li class="nav-item"><a href="{{ path('contact') }}" class="nav-link px-2 text-muted"><svg width="1em"
              height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
            </svg>
            Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">{{ copyright|raw }}</p>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>